$font-family-sans-serif: "PT Sans", Helvetica, Arial, sans-serif, system-ui, -apple-system, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-margin-bottom: 1.2rem;

$navbar-brand-font-size: 1.5rem;
$navbar-dark-color: #ffffff;
$navbar-dark-active-color: #ffffff;

$link-color: #16489A;
$link-hover-color: #c00;
$link-decoration: none;
$link-hover-decoration: none;
$link-border-bottom: 1px solid transparentize($link-color, .7);
$link-hover-border-bottom: 1px solid transparentize($link-hover-color, .7);
